<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agatsa.testsdknew">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sunya.Health"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".userlogin.UserLogIn"></activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".NewMainActivity" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".PrintReport" />
        <activity android:name=".PersonalDetailsActivity" />
        <activity android:name=".GlucoseActivity" />
        <activity android:name=".RegisterDeviceActivity" />
        <activity android:name=".VitalSignActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".PdfViewActivity" />
        <activity android:name=".ECGactivity" />
        <activity android:name=".ViewPDFActivity" />
    </application>

</manifest>