<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agatsa.testsdknew">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        tools:replace="label,name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sunya.Health"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".LabInABagApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.userlogin.UserLogIn"></activity>
        <activity
            android:name=".ui.HistoryActivity"
            android:label="@string/title_activity_history" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.EcgOptionsActivity"/>
        <activity android:name=".ui.SingleLeadECG"/>




        <activity android:name=".ui.LimbSixLead"/>
        <activity android:name=".ui.FitnessECG"/>
        <activity android:name=".ui.ChestSixLead"/>
        <activity android:name=".ui.TwelveLeadEcg"/>


        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.NewMainActivity" />
        <activity android:name=".ui.LandingActivity" />
        <activity android:name=".ui.PatientActivity" />
        <activity android:name=".ui.PrintReport" />
        <activity android:name=".ui.PersonalDetailsActivity" />

        <activity android:name=".ui.RegisterDeviceActivity" />
        <activity android:name=".ui.VitalSignActivity" />
        <activity android:name=".ui.TestListActivity" />
        <activity android:name=".ui.TestActivity" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".ui.PdfViewActivity" />
        <activity android:name=".ui.ECGactivity" />
        <activity android:name=".ui.ViewPDFActivity" />
        <activity android:name=".ui.SearchActivity" />
    </application>

</manifest>